.cursor {
  z-index: 9999;
  border-radius: 100%;
  width: 0.8rem;
  height: 0.8rem;
}

.follower {
  z-index: 9000;
  border-radius: 100%;
  width: 2rem;
  height: 2rem;
  left: -0.6rem;
  top: -0.6rem;
  background: rgba(255, 255, 255, 0.15);
}
